
.vs/ProjectSettings.json
.vs/rcs/v16/.suo
.vs/rcs/v16/Browse.VC.db
.vs/rcs/v16/Browse.VC.db-shm
.vs/rcs/v16/Browse.VC.db-wal
.vs/rcs/v16/Browse.VC.opendb
.vs/rcs/v16/ipch/AutoPCH/113d5184a48e6ad0/LOG_MANAGER.ipch
.vs/rcs/v16/ipch/AutoPCH/3b0b3f5f7a532c4e/STATE_ESTIMATOR.ipch
.vs/rcs/v16/ipch/AutoPCH/66c02c3c8b6338d7/XBEE_SERIAL.ipch
.vs/rcs/v16/ipch/AutoPCH/66dc4b753c9de3e8/INPUT_MANAGER.ipch
.vs/rcs/v16/ipch/AutoPCH/6f3f5a1a383e17d0/MIX.ipch
.vs/rcs/v16/ipch/AutoPCH/701019090426c39b/THRUST_MAP.ipch
.vs/rcs/v16/ipch/AutoPCH/88f2299b5c7647c7/FEEDBACK.ipch
.vs/rcs/v16/ipch/AutoPCH/99259d18c673c35/SETTINGS.ipch
.vs/rcs/v16/ipch/AutoPCH/b159f7a6c35143e/XBEE_RECEIVE.ipch
.vs/rcs/v16/ipch/AutoPCH/bf7bd7109504306/INPUT_MANAGER.ipch
.vs/rcs/v16/ipch/AutoPCH/d3e4905a29e2c0a/SETPOINT_MANAGER.ipch
.vs/slnx.sqlite
.vs/rcs/v16/ipch/AutoPCH/2adc065ea4535eb9/MAIN.ipch
.vs/VSWorkspaceState.json
.vscode
.vs/rcs/v16/ipch/AutoPCH/5555a2cf1e7ada69/SERVOS.ipch
.vs/rcs/v16/ipch/AutoPCH/5555a2cf1e7ada69/SERVOS.ipch
.vs/slnx.sqlite-journal
